---
---

@import "minima";

.header-strip-color-2 {
    background-color: #FFDD00;
}

.header-strip-color-1 {
    background-color: #0057B7;
}

.header-strip {
    width: 100%;
    height: 20px;
}

.site-title::before {
	content: url("img/cc_icon.svg");
	display: inline-block;
	position: relative;
	width: 37px;
	top: 5px;
    padding: 3px;
}

